body {  border: 0;
        margin: 0;}

header {display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 10px solid #D9D9D9;
        height: 70px;
        position: block;}

header a {
        text-decoration: none;
        color: black;
}

.icono {width: 28px;
        height: 28px;
        margin-right: 8px;}

.navegacion {display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                font-size: 13px;
                width: 160px;}

.item-navegacion {font-family: "Neuton", serif;
                        font-weight: 200;
                        color: #979696}

.separacion { color: #979696;
                padding: 0 5px;}

.icono-principal {display: flex;
                flex-direction: row;
                align-items: center;
                font-family:"Monsieur La Doulaise", cursive;
                font-weight: 500;
                font-style: normal;}

.iconos-header {display: flex;
                flex-direction: row;
                align-items: center;}

.welcome h1 {display: flex;
                flex-flow: row wrap;
                align-items: end;
                justify-content: center;
                font-family: "Days One", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 70px;
                text-align: center;
                height: 200px;
                margin-bottom: 0;}

.presentation p {display: flex;
                flex-flow: row wrap;
                align-items: start;
                justify-content: center;
                font-family: "Bitter", serif;
                font-optical-sizing: auto;
                /* font-weight: <weight>;
                font-style: normal; */
                font-size: 26px;
                text-align: center;
                color: #979696;
                margin-bottom: 0}

.base p {display: flex;
                flex-flow: row wrap;
                align-items: start;
                justify-content: center;
                font-family: "Bitter", serif;
                font-optical-sizing: auto;
                /* font-weight: <weight>;
                font-style: normal; */
                font-size: 26px;
                text-align: center;
                color: #979696;
                margin: 0;
                height:350px}

.trabajo-fotografico img {width: 100%;
                        height: 100%;
                        object-fit: cover;}

.trabajo-fotografico .boreal {display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 500px;
        margin-bottom: 80px;
        border: solid black;
}

.trabajo-fotografico .boreal-titulo {display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                font-family:"Dela Gothic One", sans-serif;
                                font-weight: 400;
                                font-style: normal;
                                background-color: #9c7ef6;
                                cursor: pointer;
                                opacity: 0.5;
                                transition-property:backround-color, opacity, color;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-in;
                        }

.trabajo-fotografico .boreal-titulo:hover {opacity: 1;
                                        background-color: #3E00F9;
                                        color: #ffff;}


.trabajo-fotografico .polo {display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 500px;
        margin-bottom: 80px;
        border: solid black
}

.trabajo-fotografico .polo-titulo {display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                font-family:"Dela Gothic One", sans-serif;
                                font-weight: 400;
                                font-style: normal;cursor: pointer;
                                background-color: #9c7ef6;
                                opacity: 0.5;
                                transition-property:backround-color, opacity, color;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-in}

.trabajo-fotografico .polo-titulo:hover {opacity: 1;
                                        background-color: #3E00F9;
                                        color: #ffff;}

.trabajo-fotografico .montaña {display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 500px;
        margin-bottom: 80px;
        border: solid black
}

.trabajo-fotografico .montaña-titulo {display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                font-family:"Dela Gothic One", sans-serif;
                                font-weight: 400;
                                font-style: normal;
                                cursor: pointer;
                                background-color: #9c7ef6;
                                opacity: 0.5;
                                transition-property:backround-color, opacity, color;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-in}

.trabajo-fotografico .montaña-titulo:hover {opacity: 1;
                                        background-color: #3E00F9;
                                        color: #ffff;}

.trabajo-fotografico .sabana {display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 500px;
        margin-bottom: 80px;
        border: solid black
}

.trabajo-fotografico .sabana-titulo {display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                font-family:"Dela Gothic One", sans-serif;
                                font-weight: 400;
                                font-style: normal;
                                cursor: pointer;
                                background-color: #9c7ef6;
                                opacity: 0.5;
                                transition-property:backround-color, opacity, color;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-in}

.trabajo-fotografico .sabana-titulo:hover {opacity: 1;
                                        background-color: #3E00F9;
                                        color: #ffff;}



footer {display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #D9D9D9;
        height: 70px;
        margin-top: 30px;
        font-family: "Days One", sans-serif;
        font-weight: 400;
        font-style: normal}

@media (min-width: 769px){
        .acercademif {
                display: none;}
        .contactof {
                display: none;}
        .facebook-i{
                display: none;
        }
        .facebook-l{
                display: none;
        }
        .instagram-i{
                display: none;
        }
        .instagram-l{
                display: none;
        }
        .x-i{
                display: none;
        }
        .x-l{
                display: none;
        }
        .linkedin-i{
                display: none;
        }
        .linkedin-l{
                display: none;
        }
}

@media (max-width: 768px) {

        .navegacion {
                display:none
        }
        .iconos-header{
                display:none
        }
        .trabajo-fotografico .boreal {
                margin:0 150px 60px;
                grid-template-columns: 1fr;
                grid-template-rows: 300px 300px;
        }

.trabajo-fotografico .polo {
                margin:0 150px 60px;
                grid-template-columns: 1fr;
                grid-template-rows: 300px 300px;
        }

.trabajo-fotografico .montaña {
                margin:0 150px 60px;
                grid-template-columns: 1fr;
                grid-template-rows: 300px 300px;
        }

.trabajo-fotografico .sabana {
                margin:0 150px 60px;
                grid-template-columns: 1fr;
                grid-template-rows: 300px 300px;
        }
footer {display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 250px;}

.derechos {
        grid-area: 5/1/7/7;
        text-align: center;
        background-color: #a4a1a1;}

.facebook-i {
        display: flex;
        justify-content: end;
        grid-area: 1/4/2/5;     
}
.instagram-i {
        display: flex;
        justify-content: end;
        grid-area: 2/4/3/5;
        
        
}
.x-i {
        display: flex;
        justify-content: end;
        grid-area: 3/4/4/5;
        
        
}
.linkedin-i {
        display: flex;
        justify-content: end;
        grid-area: 4/4/5/5;
        
        
}

.facebook-l {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-area: 1/5/2/7;
        color: black;
        font-family:"Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: small;}


.instagram-l {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-area: 2/5/3/7;
        color: black;
        font-family:"Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: small;}

.x-l {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-area: 3/5/4/7;
        color: black;
        font-family:"Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: small;}

.linkedin-l {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-area: 4/5/5/7;
}

.acercademif {
        display: flex;
        justify-content: end;
        grid-area: 1/1/2/2;
        font-family: "Neuton", serif;
        font-weight: 200;
}

.contactof {
        display: flex;
        justify-content: start;
        grid-area: 1/2/2/3;
        font-family: "Neuton", serif;
        font-weight: 200;
}

footer a {
        color: black;
        font-family:"Dela Gothic One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: small;
        text-decoration: none;
}


}